body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color:#1F2937;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color:white;
}

ul {
    display: flex;
    margin:12px;
    padding: 0px;
    list-style-type: none;
    gap: 12px;
}

.logo{
    display: flex;
}

.links{
    display: flex;
}